$primary-100: #bdd9bf;
$primary-200: #2e4052;
$primary-250: #3d5975;
$primary-300: #ffc857;
$primary-400: #ffffff;
$primary-500: #412234;

$light-500: #292a2b;
$light-400: #636465;
$light-300: #adaeae;
$light-200: #e3e5e7;
$light-100: #ffffff;

$border-radius-standard: 10px;
$border-radius-large: 20px;

$standard-padding: 30px;
$navbar-height: 150px;

body {
  font-size: 16px;
  background-color: $primary-200;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: $primary-300;
}

h5 {
  line-height: 35px;
}

p {
  // font-family: "Roboto Mono", monospace;
  font-family: system-ui, "Roboto", sans-serif;
  color: $light-100;
}

h1 {
  font-size: 4.2em;
}

h2 {
  font-size: 3.15em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

p {
  font-size: 1em;
}

button {
  font-size: 1em;
}

p.helper-text {
  font-size: 0.75em;
}

p.copyright-text {
  font-size: 0.75em;
}

textarea {
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  color: $light-100;
}

.primary-button {
  background-color: $primary-300;
  color: $primary-200;
  padding: 8px 12px;
  border-radius: $border-radius-standard;
  border: none;
  &:hover {
    padding: 5px 9px;
    border: 3px solid $primary-400;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $light-300;
  }
  &:focus {
    background-color: $primary-400;
    border: none;
    outline: none;
  }
}

.secondary-button {
  background-color: $light-100;
  color: $primary-200;
  padding: 8px 12px;
  border-radius: $border-radius-standard;
  border: none;
  &:hover {
    padding: 5px 9px;
    border: 3px solid $primary-300;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $light-300;
  }
  &:focus {
    background-color: $primary-400;
    border: none;
    outline: none;
  }
}

.terciary-button {
  background: none;
  color: $primary-300;
  padding: 8px 8px;
  border: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $light-300;
  }
  &:focus {
    background-color: $primary-400;
    border: none;
    outline: none;
  }
}

.main {
  &__navbar {
    display: grid;
    grid-template-columns: 100px 1fr 230px 230px;
    height: $navbar-height;
    place-items: center;
    padding: 0px $standard-padding;
  }
  &__navbar-button {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    justify-self: start;
  }

  &__navbar-logo {
    max-height: 100px;
    justify-self: start;
  }

  &__content {
    padding: $standard-padding;
    // height: calc(100vh - 400px);
  }
}

.text--light {
  color: $light-100;
}

.hero-section {
  padding: 50px 10vw;
  &--2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    &--collapse-small {
      @media only screen and (min-width: 600px) {
        grid-template-columns: none;
        grid-gap: 50px;
        place-items: center;
      }
    }
  }
  &__text {
    display: grid;
  }
  &__content-image {
    max-width: 100%;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    border: 4px solid $primary-300;
    border-radius: 10px;
  }
  &__primary-button {
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    justify-self: start;
  }
}
